<%= simple_form_for @job do |form| %>
	<p>		
  		<%= form.input :title, label: "Job title" %>
  	</p>

  	<p>
  		<%= form.input :description, label: "Job Description" %>
  	</p>

  	<p>	
  		<%= form.input :company, label: "Your company" %>
  	</p>

  	<p>	
  		<%= form.input :url, label: "Link to job" %>
	</p>

	<p>
  		<%= form.button :submit %>
  	</p>	
<% end %>










